html,
body,
#root,
.container {
  height: 100%;
}

.content-container {
  display: flex;
  height: calc(100% - 37px);
}

.toolbar {
  height: 36px;
  padding: 0 15px;
}

.toolbar-items {
  display: flex;
  align-items: center;
}
.theme-switcher {
  width: 80px;
  margin: 0 10px;
}

ef-interactive-chart {
  width: 100%;
  height: 100%;
}

ef-flag {
  margin: 5px;
  margin-right: 20px;
}